<head>
    <meta charset="UTF-8">
    <meta name="author" content="Eric Adalberto Rodríguez Sánchez">
    <meta name="description"
          content="Ejercicios desarrollados en el curso de introducción a la programación en JavaScript por Grover Vásquez.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Express JS</title>

    <link rel="icon" type="image/xml+svg" href="./images/logo-js.svg" sizes="32x32">
    <link rel="preload" as="style" href="./css/bootstrap.min.css" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style" href="./css/style.min.css" onload="this.onload=null;this.rel='stylesheet'">

    <noscript>
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./css/style.min.css">
    </noscript>
</head>