<div class="row">
    <section>
        <h1>Master Page</h1>
        <p class="lead">Esta es una plantilla de muestra para una aplicación de Express JS.</p>
    </section>
    <hr>
</div>
<div class="row">
    <div class="col offset-4 col-4">
        <label for="text" class="form-label">Escribe algo:</label>
        <input type="text" id="text" class="form-control" autofocus>
    </div>
</div>
<div class="row mt-5">
    <div class="col-3 bg-warning" style="border: 1px solid black; height: 20em"></div>
    <div class="offset-1 col-3 bg-warning" style="border: 1px solid black; height: 20em"></div>
    <div class="offset-2 col-3 bg-warning" style="border: 1px solid black; height: 20em"></div>
</div>