<!DOCTYPE html>
<html lang="es" data-bs-theme="light">
    <head>
        {{> shared/metadata }}
        {{> shared/title }}
        {{> shared/styles }}
    </head>
    <body>
        {{> shared/navigation }}
        <main class="container mt-5">
            {{{ body }}}
        </main>
        {{> shared/scripts }}
    </body>
</html>
